*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
    background-color: rgb(11, 44, 87);
    height: 100vh;
    width: 23%;
    position: fixed;
    float: left;
}

.logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
    background-color: transparent;
    height: 114px;
    border-bottom: 4px solid white;
}

.logo label{
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard{
    float: right;
}

.side{
    color: rgb(11, 44, 87);
    margin-right: 350px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.side label{
    color: orangered;
}

.side1{
    margin-top: 15px;
    background-color:  rgb(11, 44, 87);
    height: 60px;
    margin-left: -440px;
    border-bottom: 4px solid white;
    
}
    
.side1 label{
    margin-left: 450px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.welc{
    margin-left: -350px;
    margin-top: 20px;
}
.welc label{
    color: black;
    font-size: 30px;
}

.welc p{
    color:black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.welc a button{
    margin-top: 20px;
    background-color: #0a6e39;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.dash{
    background-color: rgba(11, 44, 87, 0.849);
    height: 120px;
    margin-right: 60px;
    margin-left: -300px;
    margin-top: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.dash-food{
    background-color: red;
    height: 45px;
    border-bottom: 3px solid white;
    background-color: transparent;
    
}

.dash-food label{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 400px;
}


.dashi{
    background-color: rgb(134, 41, 7);
    height: 120px;
    margin-right: 60px;
    margin-left: -300px;
    margin-top: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.dash-foodi{
    background-color: red;
    height: 45px;
    border-bottom: 3px solid white;
    background-color: transparent;
    
}

.dash-foodi label{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 400px;
}


.link{
    color: white;
}

.link li{
    height: 60px;
    display: flex;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.link li:hover{
    background-color: gray;
    height: 60px;
    cursor: pointer;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.link li a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

form{
    margin-left: -80px;
}

.send{
    background-color: rgb(228, 221, 221);
    height: 390px;
    width: 400px;
    
}

.send h4{
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.send label{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 50px;
}

.send input{
    padding: 5px;
    margin-left: 50px;
    background-color: white;
    border: none;
    height: 35px;
    outline: none;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
}

.send input ::placeholder{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    
}

.top{
    background-color: rgba(11, 44, 87, 0.849);
}

.send button{
    margin-left: 50px;
    height: 35px;
    outline: none;
    width: 300px;
    border: none;
    background-color:  #0a6e39;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer{
    background-color: rgba(11, 44, 87, 0.849);
    height: 30px;
    width: 400px;
    
}
